<div class="container-fluid">
  <div class="p-5 bg-primary text-white text-center">
    <img src="assets/images/ATU_LOGOS.png" class="rounded-circle mb-2" height="90" width="90" alt="logo" />
    <h1 class="text-uppercase">ATU</h1>
    <p class="text-uppercase">Autoridad de Transporte Urbano para Lima y Callao</p>
  </div>
  <div class="p-5 bg-light text-center">
    <div class="col-lg-6 mx-auto">
      <i class="bi bi-search mb-3" style="font-size: 5rem;"></i>
      <h1>Pagina no Encontrada</h1>
      <p class="lead">La pagina seleccionada no se encuentra en este proyecto.</p>
      <a class="btn btn-primary btn-rounded btn-lg" (click)="goBack()">Home</a>
    </div>
  </div>
</div>
